* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
}



.profile,
.skills,
.education,
 {
  background-color: #efdbdb;
  color: #321616;
}

.experience,
.career,
.contact 
{
background-color: #184058;
color: #eeeef1;

}



/* fixed top includes name and navbar */
.top {
  overflow: hidden;
  position: fixed; 
  top: 0; 
  height: 80px;
  width: 100%;
  z-index: 15;

  background-color: #272939;
  color: #eeeef1;
  box-shadow: 0px 6px 16px 0px rgba(58, 57, 57, 0.6);
}

nav {
  background-color: white;
}
/* name */
h1 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}
/* hides profile decription, skill and career description */
.mobile-hidden {
  display: none;
}

/* full resume section */
.resume {
  padding-top: 80px;
}

.resume > * {
  padding: 10px;
}

.profile__photo {
  width: 150px;
  height: 150px;
  background-image: url(/img/profile.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

/* skills */

.skills__list {
  list-style-type: none;
}

.skills__rating {
  height: 20px;
  width: 150px;
  background-color: #555;
  position: relative;
  border-radius: 10px;
}

.skills__rating > span {
  display: block;
  height: 100%;
  background-color: blue;
  border-radius: 10px 0px 0px 10px;
  width: 0%;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.skills__html {
  animation-name: html;
}

@keyframes html {
  to {
    width: 75%;
  }
}

.skills__css {
  animation-name: css;
}

@keyframes css {
  to {
    width: 60%;
  }
}

.skills__bootstrap {
  animation-name: bootstrap;
}

@keyframes bootstrap {
  to {
    width: 35%;
  }
}

.skills__javascript {
  animation-name: javascript;
}

@keyframes javascript {
  to {
    width: 55%;
  }
}

.skills__vuejs {
  animation-name: vuejs;
}

@keyframes vuejs {
  to {
    width: 38%;
  }
}

.skills__webpack {
  animation-name: webpack;
}

@keyframes webpack {
  to {
    width: 32%;
  }
}

.skills__cs {
  animation-name: cs;
}

@keyframes cs {
  to {
    width: 30%;
  }
}

.skills__github {
  animation-name: github;
}

@keyframes github {
  to {
    width: 40%;
  }
}

/* 
description will show on hover on title
.htmldescription {
  display: none;
}

elements must be direct siblings
.htmltitle:hover + .htmldescription {
  display: block;
} */


