* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.part {
  scroll-margin-top: 80px;
}

body {
  font-family: "Barlow", sans-serif;
}

p,
li {
  line-height: 130%;
}

.profile,
.skills,
.education {
  background-color: #f7f0ee;
  color: #321616;
}

.experience,
.career,
.contact {
  background-color: #1b4864;
  color: #eeeef1;
}

/* fixed top includes name and navbar */
.top {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  z-index: 15;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #272939;
  color: #dde4e9;
  box-shadow: 0px 6px 16px 0px rgba(58, 57, 57, 0.6);
}

.name {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* name */
.name h1 {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 20px;
  text-align: center;
}

.name h2 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  border-collapse: collapse;
  border: none;
}

.navitem {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 16.66%;
  height: 100%;
}

.active {
  background-color: #435660;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 16.66%;
  height: 100%;
}
nav i {
  color: #dde4e9;
}

/* visited link */
.navitem:visited {
  color: #dde4e9;
}

/* mouse over link */
.navitem:hover {
  color: #184058;
  background-color: #dde4e9;
  transition: 0.3s ease;
}

.navitem:hover i {
  color: #184058;
  font-size: 1.2em;
  transition: 0.5s ease;
}

/* hides profile decription, skill and career description */
.mobile-hidden {
  display: none;
}

/* full resume section */
.resume {
  padding-top: 80px;
  font-size: 0.9em;
}

.resume > * {
  padding: 10px;
}

.profile__photo {
  width: 150px;
  height: 150px;
  background-image: url(/img/profile.JPG);
  /* background-image: linear-gradient(rgb(80, 78, 92), rgb(94, 87, 124)); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

h3 {
  margin: 10px 0;
  font-size: 1.5em;
}

h5 {
  margin: 12px 0 5px 0;
  font-size: 1.1em;
}

/* experience */

.experience span {
  font-style: oblique;
}

.experience p {
  margin: 5px 0;
}
/* skills */

.skills__list {
  list-style-type: none;
}

.skills__rating {
  height: 20px;
  width: 150px;
  margin: 10px;
  background-color: #dde4e9;
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 2px 8px 1px rgba(97, 96, 96, 0.8);
}

/* .skills__rating > span {
 
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  
} */

.skills__html {
  display: block;
  height: 100%;  
  border-radius: 10px 0px 0px 10px;
  background-color: #1b4864;
  width: 10%;
  transition-property: width;
  transition-duration: 2s;
}


.test__html{
  width: 75%;
}

/* 
.skills__css {
  animation-name: css;
}

@keyframes css {
  to {
    width: 60%;
  }
}

.skills__bootstrap {
  animation-name: bootstrap;
}

@keyframes bootstrap {
  to {
    width: 35%;
  }
}

.skills__javascript {
  animation-name: javascript;
}

@keyframes javascript {
  to {
    width: 55%;
  }
}

.skills__vuejs {
  animation-name: vuejs;
}

@keyframes vuejs {
  to {
    width: 38%;
  }
}

.skills__webpack {
  animation-name: webpack;
}

@keyframes webpack {
  to {
    width: 32%;
  }
}

.skills__cs {
  animation-name: cs;
}

@keyframes cs {
  to {
    width: 30%;
  }
}

.skills__github {
  animation-name: github;
}

@keyframes github {
  to {
    width: 40%;
  }
} */

/* career */

.career__position > div {
  font-size: 0.9rem;
  font-style: oblique;
  margin-bottom: 5px;
}

.career__location {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 0.9rem;
}

.career__location div {
  margin-left: 5px;
}

.career i {
  font-size: 0.9em;
}

/* education */

h4 {
  font-size: 1.3em;
  margin-top: 10px;
}

.education__location {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 0.9rem;
}
.education__location div {
  margin: 0 5px;
}

.education__position {
  margin: 3px 0;
}
/* 
description will show on hover on title
.htmldescription {
  display: none;
}

elements must be direct siblings
.htmltitle:hover + .htmldescription {
  display: block;
} */
